/* ---------------
Reset Screen
-----------------*/

*,::after,::before{
    margin: 0;
    padding: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
}

/* Reuseable component */
:root{
    --h2-size:24px;
    --h2-line-height:36px;
    --h2-color:#562EFF;
    --span-course:#ED6B4F;
}